.navbar{
    margin: 0;
    padding: 1rem 6rem;
    background-color:rgb(9, 97, 124,.6);
}

.navbar-brand > .logo{
    width: 27%;
}

.nav-item_width{
    width: 80%;
}

.nav-item{
    padding: 0rem .7rem;
    font-weight: 500;
    color: black;
}

.nav-item:hover{
    background-color: rgb(236, 240, 45);
    border-radius: 30px;
    color: wheat;
}