
body{
    margin: 0;
    padding: 0;
}

.primary-heading{
    color: rgb(27, 25, 25,.8);
    margin-bottom: 1.5rem;
}

.secondary-heading{

}

.tirsery-heading{
    color: rgb(27, 25, 25);
    margin-bottom: 1.5rem;
}

.btn-coustom{
    padding: .4rem 3rem;
    border-radius: 30px;
    border: 2px solid black;
}

.btn-coustom:hover{
    background-color: rgb(164, 167, 4);
    border: 2px solid rgb(164, 167, 4);
    font-weight: 500;
}
