.section_focus{
    margin-top: 10rem;
    width: 100%;
    padding: 2rem 6rem;
}

.focus-text{
    padding-left: 4rem;
}

.fpcus-heading{
    font-size: 50px;
    /* font-weight: 800; */
}

.focus-img{
    width: 100%;
}

.focus-paragap{
    margin-bottom: 2rem;
}