footer{
    padding: 4rem 7rem;
    padding-bottom: 0;
    background-color:rgb(9, 97, 124,.6);
    margin-top: 0;
    /* top: -5rem;
    left: 0; */
}
.lastsection{
    background-color: rgb(34, 30, 30);
    height: 50px;
    color: wheat;
    padding: 1rem;
    text-align: center;
}

.footer-logo{
    width: 50%;
    margin-bottom: 2rem;

}

.footer-paragarap{
    font-size: 20px;
    color: rgb(27, 25, 25,.8);
}

.footer-list{
    padding-left: 4rem;
}

footer h4{
    margin-bottom: 2.7rem;
    padding-left: 2.5rem;
}
 

footer ul{
    list-style: none;
    font-size: 20px;
    color: rgb(27, 25, 25,.8);
}
 

footer ul li{
    margin-bottom: .8rem;
    font-weight: 500;
}
 