footer{ 
    color: wheat;
    background-color:rgb(9, 97, 124,.4);
}

.footer-list > ul > li{
    color: wheat;
}

.lm-footer .row{
    margin-left: 10rem;
}

.lastsection2{
    background-color: rgb(247, 241, 241);
    height: 50px;
    color: rgb(8, 8, 8);
    padding: 1rem;
    text-align: center;
}

